
body,
div,
span,
main,
p,
a,
img,
ul,
li,
input,
strong,
em,
del,
ins,
i,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

input {
    border: none;
    outline: none;
}

i {
    font-style: normal;
}
.clearfix::after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}
.el-dialog__header {
    height: 53px;
    background-color: #2891ff;
    box-sizing: border-box;
}
.el-dialog__header span{
    color: #fefefe
}
.el-dialog__headerbtn .el-dialog__close {
    color: #fefefe;
}